@import "../../config.scss/mixins.scss";

.mobile_menu_container {
  position: fixed;
  width: 100%;
  // bottom: -85px;
  left: 0;
  transform: translateY(-130px);
  display: none;
  background: rgba(215, 215, 215, 0.5);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  z-index: 3;
  animation: mobileMenuSlider 0.2s linear forwards;
  transition: all 0.3s linear;
  @include md {
    display: block;
  }
  .menu_items {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    gap: 50px;
    font-size: 17px;
    ul {
      display: block;
      .menu_item {
        padding: 10px;
        list-style: none;
      }
    }
    .search_icon {
      font-size: 20px;
      cursor: pointer;
    }
    .close {
      display: grid;
      margin: 15px 10px;
      // padding: 1px;
      border-radius: 3px;
      background-color: black;
      width: fit-content;
      height: fit-content;
      color: white;
    }
  }
}
@keyframes mobileMenuSlider{
  0%{
    transform: translateY(-130px);
  }
  100%{
    transform: translateY(73px);
  }
}
