@import "../../../config.scss/mixins.scss";
.details_Banner {
  position: relative;
  width: 100%;
  // height: 700px;
  .backdrop_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .opacity_layer {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      180deg,
      rgba(4, 21, 45, 0) 0%,
      #04152d 79%
    );
  }
  .contents {
    position: relative;
    display: flex;
    gap: 50px;
    padding-top: 120px;
    padding: 120px 0 10px 10px;
    @include md {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .left {
      max-width: 400px;
      border-radius: 20px;
      overflow: hidden;
      // border: 1px solid black;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
    .right {
      // border: 1px solid black;
      width: 100%;
      .right_section {
        .poster_title {
          color: white;
          font-size: 35px;
          @include md {
            font-size: 28px;
          }
        }
        .subtitle {
          color: rgb(146, 143, 143);
          font-size: 19px;
          @include md {
            font-size: 15px;
          }
        }
        .genreses {
          display: flex;
          color: white;
          margin: 10px 0;
          gap: 5px;
          font-size: 12px;
          @include md {
            font-size: 10px;
          }
          .genres {
            padding: 0px 3px;
            border-radius: 2px;
            background-color: rgb(238, 19, 56);
          }
        }
        .rating_box {
          position: relative;
          display: flex;
          align-items: center;
          gap: 30px;
          padding: 35px 0;
          @include md {
            padding: 25px 0;
            gap: 20px;
          }

          .rating {
            padding-top: px;
            position: relative;
            @include md {
              padding-top: 0;
            }
            .circle {
              width: 85px;
              height: 85px;
              border-radius: 50%;
              // background-color: black;
              display: flex;
              justify-content: center;
              align-items: center;
              @include md {
                width: 70px;
                height: 70px;
              }

              .inner_circle {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 20px;
                transition: all 0.2s ease;
                @include md {
                  width: 55px;
                  height: 55px;
                  font-size: 17px;
                }
                &.inner_circle:hover {
                  width: 75px;
                  height: 75px;
                  font-size: 25px;
                  @include md {
                    width: 60px;
                    height: 60px;
                    font-size: 22px;
                  }
                }
              }
            }
          }
          .playbtn_container{
             display: flex;
             align-items: center;
             gap: 10px;
             cursor: pointer;

            .play_container {
              width: 95px;
              height: 95px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              position: relative;
              color: white;
              cursor: pointer;
              @include md {
                width: 70px;
                height: 70px;
              }
              &.play_container:hover {
                color: rgb(238, 19, 56);
              }
              // {
              //     width: 95px;
              // }
              &.play_container::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: white;
                top: 0;
                left: 0;
                border-radius: 50%;
                z-index: -1;
                transform: scale(0);
                transition: all 0.2s ease;
              }
            }
            .play_container:hover::before {
              transform: scale(1);
            }
            .text {
              font-size: 25px;
              color: white;
              @include md {
                font-size: 20px;
              }
            }
          }
        }
        .overview {
          // line-height: 0;
          .public_view {
            line-height: 1.5;
            font-size: 30px;
            color: white;
          }
          .description {
            font-size: 16px;
            color: white;
            @include md {
              font-size: 14px;
            }
          }
        }
        .status_details{
          display: flex;
          text-align: center;
          line-height: 1.5;
          color: white;
          padding-top: 20px;
          padding-bottom: 15px;
          gap: 30px;
          @include md {
            justify-content: center;
          }
          .status_title{
            font-size: 16px;
            @include md {
              font-size: 15px;
            }
          }
          .status_response{
            font-size: 12px;
            color: rgb(187, 183, 183);
          }
        }
        .under_line{
          height: 1px;
          width: 100%;
          background-color: rgb(187, 183, 183);
        }
      }
      .credit_info{
        padding: 20px 0;
        color: white;
        .dir_name{
          font-size: 14px;
          color: rgb(187, 183, 183);
        }
      }
      .under_line{
        height: 1px;
        width: 100%;
        background-color: rgb(187, 183, 183);
      }
    }
  }
}

// .detailsBanner {
//     width: 100%;
//     background-color: var(--black);
//     padding-top: 100px;
//     margin-bottom: 50px;
//     @include md {
//         margin-bottom: 0;
//         padding-top: 120px;
//         min-height: 700px;
//     }
//     .backdrop-img {
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         opacity: 0.1;
//         overflow: hidden;
//         .lazy-load-image-background {
//             width: 100%;
//             height: 100%;
//             img {
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//                 object-position: center;
//             }
//         }
//     }
//     .opacity-layer {
//         width: 100%;
//         height: 250px;
//         background: linear-gradient(
//             180deg,
//             rgba(4, 21, 45, 0) 0%,
//             #04152d 79.17%
//         );
//         position: absolute;
//         bottom: 0;
//         left: 0;
//     }

//     .content {
//         display: flex;
//         position: relative;
//         flex-direction: column;
//         gap: 25px;
//         @include md {
//             gap: 50px;
//             flex-direction: row;
//         }
//         .left {
//             flex-shrink: 0;
//             .posterImg {
//                 width: 100%;
//                 display: block;
//                 border-radius: 12px;
//                 @include md {
//                     max-width: 350px;
//                 }
//             }
//         }
//         .right {
//             color: white;
//             .title {
//                 font-size: 28px;
//                 line-height: 40px;
//                 @include md {
//                     font-size: 34px;
//                     line-height: 44px;
//                 }
//             }
//             .subtitle {
//                 font-size: 16px;
//                 line-height: 24px;
//                 margin-bottom: 15px;
//                 font-style: italic;
//                 opacity: 0.5;
//                 @include md {
//                     font-size: 20px;
//                     line-height: 28px;
//                 }
//             }
//             .genres {
//                 margin-bottom: 25px;
//                 flex-flow: row wrap;
//             }
//             .overview {
//                 margin-bottom: 25px;
//                 .heading {
//                     font-size: 24px;
//                     margin-bottom: 10px;
//                 }
//                 .description {
//                     line-height: 24px;
//                     @include md {
//                         padding-right: 100px;
//                     }
//                 }
//             }
//             .circleRating {
//                 max-width: 70px;
//                 background-color: var(--black2);
//                 @include md {
//                     max-width: 90px;
//                 }
//                 .CircularProgressbar-text {
//                     fill: white;
//                 }
//             }
//             .playbtn {
//                 display: flex;
//                 align-items: center;
//                 gap: 20px;
//                 cursor: pointer;
//                 svg {
//                     width: 60px;
//                     @include md {
//                         width: 80px;
//                     }
//                 }
//                 .text {
//                     font-size: 20px;
//                     transition: all 0.7s ease-in-out;
//                 }
//                 .triangle {
//                     stroke-dasharray: 240;
//                     stroke-dashoffset: 480;
//                     stroke: white;
//                     transform: translateY(0);
//                     transition: all 0.7s ease-in-out;
//                 }
//                 .circle {
//                     stroke: white;
//                     stroke-dasharray: 650;
//                     stroke-dashoffset: 1300;
//                     transition: all 0.5s ease-in-out;
//                 }
//                 &:hover {
//                     .text {
//                         color: var(--pink);
//                     }
//                     .triangle {
//                         stroke-dashoffset: 0;
//                         opacity: 1;
//                         stroke: var(--pink);
//                         animation: trailorPlay 0.7s ease-in-out;
//                     }
//                     .circle {
//                         stroke-dashoffset: 0;
//                         stroke: var(--pink);
//                     }
//                 }
//             }
//             .row {
//                 display: flex;
//                 align-items: center;
//                 gap: 25px;
//                 margin-bottom: 25px;
//             }

//             .info {
//                 border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//                 padding: 15px 0;
//                 display: flex;
//                 .infoItem {
//                     margin-right: 10px;
//                     display: flex;
//                     flex-flow: row wrap;
//                 }
//                 .text {
//                     margin-right: 10px;
//                     opacity: 0.5;
//                     line-height: 24px;
//                     &.bold {
//                         font-weight: 600;
//                         opacity: 1;
//                     }
//                 }
//             }
//         }
//     }

//     .detailsBannerSkeleton {
//         display: flex;
//         position: relative;
//         flex-direction: column;
//         gap: 25px;
//         @include md {
//             gap: 50px;
//             flex-direction: row;
//         }
//         .contentWrapper {
//             display: flex;
//             gap: 50px;
//         }
//         .left {
//             flex-shrink: 0;
//             width: 100%;
//             display: block;
//             border-radius: 12px;
//             aspect-ratio: 1/1.5;
//             @include md {
//                 max-width: 350px;
//             }
//         }
//         .right {
//             width: 100%;
//             .row {
//                 width: 100%;
//                 height: 25px;
//                 margin-bottom: 20px;
//                 border-radius: 50px;
//                 &:nth-child(2) {
//                     width: 75%;
//                     margin-bottom: 50px;
//                 }
//                 &:nth-child(5) {
//                     width: 50%;
//                     margin-bottom: 50px;
//                 }
//             }
//         }
//     }
// }
